body {
margin: 0;
padding: 0;
}

a {
text-decoration: none;
}

.menu {
width: 100px;
height: 600px;
padding: 20px 0;
background-color: rgba(0, 0, 0, 0.5);
margin: 50px 0 0 50px;
position: relative;
}

.menu .item {
height: 42px;
/* border: 1px solid red; */
color: #fff;
font-size: 14px;
line-height: 42px;
padding-left: 30px;
cursor: pointer;
}

.menu .item:hover {
background-color: #ff6700;
}

/* 右侧二级菜单 */
.menu .item .nav {
  width: 650px;
  height: 600px;
  background-color: #fff;
  border: 1px solid #666;
  position: absolute;
  top: 0;
  left: 100%;
  box-sizing: border-box;
  /* 六行单元格平分整个区域 */
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  align-items: start;
  justify-content: stretch;
  /* 排列方式设置为先行后列*/
  grid-auto-flow: row;
  /* 设置隐式网格宽度 */
  grid-auto-columns: 250px;
  padding: 20px;
  grid-gap: 10px;
  /* 初始默认隐藏 */
  display: none;
}

.item .nav a {
/* border: 1px solid red; */
color: #000;
display: flex;
/* 垂直方向居中对齐,防止随父元素高度而被拉伸 */
align-items: center;
}

.item .nav a:hover {
color: #ff6700;
}

.item:hover .nav {
display: grid;
}


@media screen and (max-width: 768px) {
  .menu {
  width: 25px;
  height: auto;
  }

  .menu .item .nav {
    width: 100px;
    height: auto;
  }
    .st
}
